/* space mono link */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* nanum pen link */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

:root {
  --font-mono: "Space Mono", monospace;
  --font-nanum: "Nanum Pen Script", cursive;
  --fg: #fff;
  --dark-pink: #b58afc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* about style */

.about {
  padding: 80px 0 290px;
  background-image: url("./src/makaron\ .svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.about__wrapper {
  text-align: center;
}

.about__avatar {
  width: 280px;
  height: 280px;
  border-radius: 50%;

  padding: 20px;
  background-image: linear-gradient(#bff0ff, #82b4ff);

  margin-bottom: 42px;
}

.about__name {
  margin: 0 auto;

  font-size: 96px;
  line-height: 128px;
  letter-spacing: 0%;
  font-family: var(--font-mono);

  background: -webkit-linear-gradient(#dba6f4, #a981fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* about style finish */

/* Skills style */

.skills {
  background-image: url("./src/skilss-makaron.svg");
  background-repeat: no-repeat;
  background-position: bottom;

  padding: 160px 0 500px;
}

.skills__title {
  font-family: var(--font-mono);
  font-size: 48px;
  color: var(--fg);
  text-align: center;
  margin-bottom: 80px;
}

.skills__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.skills__item {
  width: max-content;
  position: relative;
  padding: 15px 30px;
  border-radius: 30px;

  background: -webkit-linear-gradient(#ffe597, #aaff82);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills__item::before {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 30px;
  padding: 6px;

  border: 2px solid var(--dark-pink);
}

.skills__design-title {
  font-size: 48px;
  font-family: var(--font-mono);
  line-height: 64px;
  color: var(--fg);

  text-align: center;
  margin-bottom: 240px;
}

.skills__text-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 480px;
}

.skills__text {
  font-family: var(--font-nanum);
  font-size: 40px;
  line-height: 40px;

  background: -webkit-linear-gradient(#bff0ff, #82b4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Skills style finish */

/* journey css */

.journey {
  padding: 87px 0;

  background-image: url("./src/skills-double-makaron.svg"),
    url("./src/skills-double-makaron2.svg");
  background-repeat: no-repeat;

  background-position: calc(50% - 140px) calc(50% + 160px), calc(50% + 2px);
}

.skills__text-left {
  margin-top: 400px;
}
/* journey css finish */
